::ng-deep .nav-fill .nav-link.active {
    border-top: 2px solid black;
}

::ng-deep .nav-pills .nav-link.active, 
::ng-deep .nav-pills .show > .nav-link {
    color: white;
    background-color: black;
}

.data{
    background-color: white;
}

.row{
    margin-top: top 10px;
    margin-bottom: 40px;
}