<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">

        <button class="btn btn-outline-primary mb-2 mr-2 center" (click)="openAddForm(addAppointment)">Add an appointment</button> 

    </div>
    <div  class="col-sm-4">

        <button class="btn btn-outline-primary mb-2 mr-2 center" (click)="openAddForm(addContact)">Add a contact</button> 

    </div>
    <div class="col-sm-2"></div>
</div>


<ng-template #addContact let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Add a Contact!!</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">


            <contact-form></contact-form>

        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Ok</button>
              </div>                
    </ng-template>

    <ng-template #addAppointment let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Add an Appointment!!</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
    
    
                <appointment-form></appointment-form>
    
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Ok</button>
                  </div>                
        </ng-template>
    
